<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="static-container faq">
<p class="back-link"><a href="javascript:history.back()"><i class="material-icons">keyboard_arrow_left</i> zurück</a></p>
<!--<h3>${_("FAQ")}</h3>
<!--<p>${_("This page left intentionally blank. It is not used by edx.org but is left here for possible use by installations of Open edX.")}</p>-->
<h3>Häufige Fragen</h3>

<h4>Kursplattform</h4>
<h5>Ich habe mein Passwort vergessen.</h5>
<p>Bitte gehen Sie zur Seite „Einloggen“ und klicken Sie dort auf den Link „Passwort vergessen?“.<p>

<h5>Wo kann ich meine Konto-Einstellungen anpassen?</h5>
<p>Gehen Sie auf das Menü im rechten oberen Rand der Lernplattform. Klicken Sie dort auf „Konto“, um die jeweiligen Einstellungen anzupassen. Dort können Sie unter anderem Ihren Namen ändern, Ihre Kontaktdaten aktualisieren, Ihre Sprache einstellen oder Ihr Passwort zurücksetzen. Im Bereich „Profil“ können Sie ein Bild hinterlegen sowie eine Kurzbeschreibung verfassen.</p>

<h5>Wo kann ich meinen Benutzernamen ändern?</h5>
<p>Sie können Ihren Benutzernamen nach der Registrierung nicht mehr ändern. Ihren vollständigen Namen (der auch auf den Zertifikaten erscheint) können Sie in den Konto-Einstellungen anpassen.</p>

<h5>Wo kann ich E-Mail-Einstellungen anpassen?</h5>
<p>Gehen Sie auf die Seite „Meine Kurse“ und klicken Sie bei einem Kurs auf das Einstellungsrädchen. Dort finden Sie die Option zum Ändern der E-Mail Einstellungen.</p>

<h5>Welche technischen Voraussetzungen muss ich beachten?</h5>
<p>Sie das LYNX Online-Training auf jedem internetfähigem Gerät nutzen. Bitte beachten Sie, dass unsere Plattform jedoch noch nicht für mobile Geräten optimiert ist. Für das Demokonto benötigen Sie die Trader Workstation, die Sie problemlos auf PC und Mac installieren können.</p>

<h5>Wie installiere und starte ich das Demokonto?</h5>
<p>Für die Praxisübungen in unserem Online-Kurs benötigen Sie ein Demokonto.  Noch kein Kunde? Bitte beantragen Sie hier Ihr persönliches Demokonto.  Für LYNX-Kunden: In diesem Videotutorial finden Sie alle wichtigen Hinweise zum Einrichten eines Demokontos. Sie haben Probleme mit der Installation? Bitte kontaktieren Sie gern!</p>

<h5>Was soll ich tun, wenn ich ein technisches Problem habe?</h5> 
<p>Viele technische Probleme lassen sich auf den verwendetetn Browser zurückführen. Wechseln Sie zu einer aktuellen Version von Chrome oder Firefox. Überprüfen Sie Ihre Browsereinstellungen und stellen Sie sicher, dass JavsScript und Cookies zugelassen sind. Leeren Sie den Browsercache. Sollten Sie weiterhin Probleme haben, kontaktieren Sie bitte unser Serviceteam.</p>


<h4>Kursablauf</h4>

<h5>Welches Wissen wird vorausgesetzt, um am LYNX Online-Training teilzunehmen?</h5>
<p>Für das Online-Training setzen wir lediglich ein Grundverständnis zum Thema Aktienhandel und Börse voraus.</p>

<h5>Sind die Praxisübungen verpflichtend?</h5>
<p>Die Praxisübungen sind ein fester Teil unseres Kursablaufs. Wir möchten Ihnen nämlich nicht nur graue Theorie beibringen, sondern vor allem das Handwerkszeug für die Praxis. Hierzu gehört der versierte Umgang mit der Handelsplattform ebenso wie die Auswahl der richtigen Strategie. Durch die Bewertung unserer LYNX Experten sowie den anderen Kursteilnehmern lernen Sie schnell und effektiv, worauf es ankommt.</p>

<h5>Was passiert, wenn ich meine Praxisübung nicht abgebe?</h5>
<p>Da unsere Praxisübungen ein zentraler Teil des Kurses sind, können Sie den Kurs nur erfolgreich abschließen, wenn Sie diese auch bearbeiten.</p>

<h5>Wer bewertet die Praxisübungen?</h5>
<p>Für den maximalen Lerneffekt werden Ihre eingereichten Praxisübungen sowohl von einem unserer Experten als auch von den anderen Lernenden des Kurses angeschaut und bewertet. Hierbei gibt es oft kein Richtig und Falsch, sondern eher ein „so wäre es noch besser gewesen“. So lernen Sie gemeinsam mit allen Kursteilnehmern. Wir würden uns freuen, wenn Sie sich auch die Zeit nehmen, die anderen Kursteilnehmern zu unterstützen.</p>

<h5>Ich habe meinen Kurs erfolgreich bestanden. Wo finde ich mein Zertifikat?</h5>
<p>Besuchen Sie die Seite zum bestandenen Kurs und klicken dort auf den Reiter „Fortschritt“. Dort können Sie Ihr Zertifikat anfordern.  Sollte auf dieser Seite der Button zum Anfordern des Zertifikates fehlen, so erhalten Sie Ihr Zertifikat automatisch von Ihren Kursdozenten. Die Zertifikate werden in regelmäßigen Abständen von uns erstellt und dann verschickt. Sollten Sie wider Erwarten Ihr Zertifikat vermissen, kontaktieren Sie uns bitte.</p>

<h5>Ich komme in einem Kurs nicht weiter. Was soll ich tun?</h5>
<p>Sie kommen inhaltlich nicht weiter, haben eine Frage oder ein technisches Problem? Bitte kontaktieren Sie unser Service-Team.</p>

<h4>Noch Fragen?</h4>
<p>Bitte kontaktieren Sie uns unter <a href="mailto:service@lynxbroker.de">service@lynxbroker.de</a> oder melden sich telefonisch unter +49 30-30328669-0.</p>

</section>
