{% load i18n %}{% load url from future %}{% autoescape off %}
<span class="c000000" style="color:#252729;line-height: 25px;font-size: 16px;">
{% blocktrans %}You're receiving this e-mail because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
<br><br>
{% trans "Please go to the following page and choose a new password:" %}
<br>
<br>
{% block reset_link %}
{{ protocol }}://{{ site_name }}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}
<br><br>
{% trans "If you didn't request this change, you can disregard this email - we have not yet reset your password." %}
<br><br>
{% trans "Thanks for using our site!" %}
<br>
<br>
{% blocktrans %}The {{ platform_name }} Team{% endblocktrans %}
    <br>
</span>
{% endautoescape %}
