<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

%>
<div class="welcome-back">
	<h3 id="conclusion_text"></h3>
	<div class="course-info">
		<div class="course-image"><img src="" id="course_image" width="300px"/></div>
		<div class="course-description">
			<h5 id="course_title"></h5>
			<div id="short_description"></div>
		</div>
	</div>


<div class="progress-info">
	<h5 class="points-headline">Ihr Punktestand:</h5>
	<div class="points">
		<a href="/courses/course-v1:LYNX+01+2016/progress"><span id="earned_points"></span> | <span id="total_points"></span></a>
	</div>

	<p class="last-viewed">${_("Letzte angeschaute Lektion: {section_link}").format(
	    section_link=u'<a href="{url}" class="current-lecture">{section_name}</a>'.format(
	        url=prev_section_url,
	        section_name=prev_section.display_name_with_default,
	    )
    )}</p>
<!--
<p>
	${_("You were most recently in {section_link}.  If you\'re done with that, choose another section on the left.").format(
	    section_link=u'<a href="{url}">{section_name}</a>'.format(
	        url=prev_section_url,
	        section_name=prev_section.display_name_with_default,
	    )
    )}
</p>
   <h4>${chapter_module.display_name_with_default}</h4>
-->
    
<!-- Last Viewed: -->
<!-- <span> <a href="${prev_section_url}" class="btn btn-light next">${prev_section.display_name_with_default}</a></span>-->
	<span> <a href="${prev_section_url}" class="resume">Training fortsetzen</a></span>
<!-- <span><b>Percentage:</b><i id="percentage"></i> %</span> -->
</div>
</div>
<script type="text/javascript">
  $(document).ready(function() {

		$.ajax({
            url: "${reverse('edx_course_progress', kwargs={"course_id": course.id})}",
            type: 'GET',
            contentType: 'application/json',
            xhrFields: {
				withCredentials: true
			},
            success: function(result) {
                if(result.started){
                    $("#total_points").html(result.total);
                    $("#earned_points").html(result.earned);
                    $("#short_description").html(result.short_description);
                    $("#course_title").html(result.title);
                    $("#percentage").html(result.percentage);
                    $("#course_image").attr("src", result.course_image);

                    if(result.percentage < parseFloat(1) ){
                        $("#conclusion_text").html("Herzlich willkommen!");
                    }
                    else if(result.percentage >= parseFloat(1) && result.percentage <= parseFloat(49) ){
                        $("#conclusion_text").html("Willkommen zurück!");
                    }
                    else if(result.percentage >= parseFloat(50) && result.percentage <= parseFloat(89) ){
                        $("#conclusion_text").html("Willkommen zurück! Sie haben schon über die Hälfte geschafft!");
                    }
                    else if(result.percentage >= parseFloat(90)){
                        $("#conclusion_text").html("Herzlichen Glückwunsch! Sie haben den Kurs erfolgreich abgeschlossen!");
                    }
                }
                else{
                    console.log("course not started yet");
                }

            },
            error: function() {
                alert('Error: cannot connect to server');
            }
        });

  });
</script>
