<p>Hello, ${user.username}</p>
<br>
<p> there are new submissions to review in your course: ${course} </p>
<br>
<p>Please visit this link: </p>
<br>
<p>${courseware_url}</p>
<br>
<p>Current Statistic for Learner Progress:</p>
<div class="staff-info__status ui-staff__content__section">
    <table class="staff-info__status__table">
        <thead>
        <tr>
            <th abbr="Step" scope="col">Problem Step</th>
            <th abbr="# of Learners" scope="col">Active Learners in Step</th>
        </tr>
        </thead>

        <tbody>
        %for item in status_counts:
            <tr>
                <td class="label" style="font-size:13px !important;" cellpadding="3px">${ item.get('status') }</td>
                <td class="value" style="font-size:13px !important;" cellpadding="3px">${ item.get('count') }</td>
            </tr>
        %endfor
        </tbody>
    </table>
</div>