<p>Hello, ${user.username}</p>
<br>
<p> please visit this link to view and grade new task submissions for this assignment: </p>
<br>
<p>${courseware_url}</p>
<br>
<p>Here is a current statistic for your course: ${course}</p>
<br>
<div class="staff-info__status ui-staff__content__section">
    <table class="staff-info__status__table">

        <caption class="title">Learner Progress</caption>

        <thead>
        <tr>
            <th abbr="Step" scope="col">Problem Step</th>
            <th abbr="# of Learners" scope="col">Active Learners in Step</th>
        </tr>
        </thead>

        <tbody>
        %for item in status_counts:
            <tr>
                <td class="label">${ item.get('status') }</td>
                <td class="value">${ item.get('count') }</td>
            </tr>
        %endfor
        </tbody>
    </table>
</div>