<p>Lieber Kursmitarbeiter,</p>
<p>es gibt neue Einreichungen für Aufgaben im Kurs ,,${course}''.</p>

<br/>
<p><b>Lektion</b></p>
<p>${chapter_name}</p>

<p><b>Statistik</b></p>
<div class="staff-info__status ui-staff__content__section">
    <table class="staff-info__status__table" cellpadding="5">
        <tbody>
        %for item in status_counts:
            <tr>
                <td class="label" style="font-size:13px !important;">${ item }</td>
                <td class="value" style="font-size:13px !important;">${ status_counts[item] }</td>
            </tr>
        %endfor
        </tbody>
    </table>
</div>
<br/>
<br/>
<p>Für Details besuchen Sie bitte diesen Link:</p>
<p><a href="${courseware_url}"></a>${courseware_url}</p>
<p>Diese E-Mail wurde automatisch von der LYNX Online-Training Plattform versandt.</p>
